<head>
    <title>Cash Track App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <link rel="stylesheet" href="/styles/table.css" media="screen" title="no title" charset="utf-8">
</head>

<body id="top">
    <!-- ################################################################################################ -->
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <!-- ################################################################################################ -->
          
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-image: url('HTML-CSS/images/backgrounds/01.png')">
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
           


  <h2>Outstanding Invoices</h2>
<table style="width: 150%">
    <tr>
      <th>Invoice Amount</th>
      <th>Employer Name</th>
      <th>Date Paid</th>
    </tr>
{{#each invoices}}
  {{#unless paidStatus}}

       <tr><td>{{this.invoiceAmount}}</td>
       <td>{{this.Employer.employerName}}</td>
       <td><button class="paid" data-id="{{this.id}}">Paid</button></td>
       </tr>
  {{/unless}}
  {{/each}}
</table>
                   
<h2>Paid Invoices</h2>
<table style="width: 150%">
    <tr>
      <th>Invoice Amount</th>
      <th>Employer Name</th>
      <th>Date Paid</th>
    </tr>
  {{#each invoices}}
  {{#if paidStatus}}

       <tr><td>{{this.invoiceAmount}}</td>
       <td>{{this.Employer.employerName}}</td>
       <td>{{this.updatedAt}}</td>
       </tr>
  {{/if}}
  {{/each}}
</table>

                   
             
        </div>
    </div>
    <!-- ################################################################################################ -->
    <div class="wrapper row2 bgded overlay" style="background-image: url('HTML-CSS/images/backgrounds/03.png')">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->

            
            <div class="one_quarter">
                <h6 class="title">Outstanding Invoices</h6>
                <ul class="nospace linklist">
                    {{#each invoices}}
                    {{#unless paidStatus}}
                      
                        <li><a href="#">{{this.Employer.employerName}}</a></li>
                        
                    {{/unless}}
                    {{/each}}
                    </li>
                    <li>
                    </li>

                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="title">Amount Due</h6>
                <ul class="nospace linklist">
                    <li>
                        <article>
                        {{#each invoices}}
                        {{#unless paidStatus}}
                            
                            <li><a href="#">{{this.invoiceAmount}}</a></li>
          
                        {{/unless}}
                        {{/each}}
                        </article>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>

    <!-- ################################################################################################ -->
    <!-- Insert Javascripts here -->
    <script type="text/javascript" src="stopwatch.js"></script>
    <script src="table.js"></script>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/invoices.js"></script>

