<link rel="stylesheet" href="/HTML-CSS/layout/styles/table.css" media="all" type="text/css" charset="utf-8">

<link href="HTML-CSS/layout/styles/emailStyles.css" rel="stylesheet" type="text/css" media="all">

<head>
    <title>Cash Track App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles/table.css" media="screen" title="no title" charset="utf-8">
</head>

<body id="top">
    <!-- ################################################################################################ -->
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <!-- ################################################################################################ -->

        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-image: url('HTML-CSS/images/backgrounds/01.png')">
        <!-- ################################################################################################ -->
        <div class="wrapper row1">


            <div class="wrapper60">
                <h2 class="marginleft">Outstanding Invoices</h2>
                <table>
                    <tr>
                        <th>Invoice Amount</th>
                        <th>Employer Name</th>
                        <th>Date Paid</th>
                    </tr>
                    {{#each invoices}}
                    {{#unless paidStatus}}

                    <tr>
                        <td>{{this.invoiceAmount}}</td>
                        <td>{{this.Employer.employerName}}</td>
                        <td><button class="paid" data-id="{{this.id}}">Paid</button></td>
                    </tr>
                    {{/unless}}
                    {{/each}}
                </table>
                <br>
                

                <h2 class="marginleft">Paid Invoices</h2>
                <table>
                    <tr>
                        <th>Invoice Amount</th>
                        <th>Employer Name</th>
                        <th>Date Paid</th>
                    </tr>
                    {{#each invoices}}
                    {{#if paidStatus}}

                    <tr>
                        <td>{{this.invoiceAmount}}</td>
                        <td>{{this.Employer.employerName}}</td>
                        <td>{{this.updatedAt}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </table>

            </div>




        </div>
    </div>
    <!-- ################################################################################################ -->
    

    <!-- ################################################################################################ -->
    <!-- Insert Javascripts here -->
    <script type="text/javascript" src="stopwatch.js"></script>
    <script src="table.js"></script>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/invoices.js"></script>