<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>

        <h2>Current Employers</h2>
<table>
  {{#each employer}}
       <tr><td>{{this.employerName}}, {{this.employerEmail}} {{this.employerPhoneNumber}}</td></tr>
  {{/each}}
</table>

        <h2>Add an employer</h2>
        <div class="card-body">

          <!-- Sign-up Form (note the various input "types")-->
          <form role="form">
            <div class="form-group row">
              <label for="name-input">Name:</label>
              <input class="form-control" id="name-input" type="text">
            </div>
            <div class="form-group row">
              <label for="email-input">Email:</label>
              <input class="form-control" id="email-input" type="email">
            </div>
            <div class="form-group row">
              <label for="number-input">Phone Number</label>
              <input class="form-control" id="number-input" type="number">
            </div>

            <button class="btn btn-default" id="add-employer" type="button">Submit</button>
          </form>

        </div>


        {{!-- <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>